<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kitona.zus.infrastructure.persistence.mysql.mapper.IAuthorizationModelMapper">

    <!-- 通用结果映射（与 fga_authorization_model 表一致，类型定义由 3～5 表组装） -->
    <resultMap id="BaseResultMap" type="org.kitona.zus.infrastructure.persistence.mysql.entity.AuthorizationModelPO">
        <id column="id" property="id"/>
        <result column="store_id" property="storeId"/>
        <result column="model_id" property="modelId"/>
        <result column="schema_version" property="schemaVersion"/>
        <result column="dsl_text" property="dslText"/>
        <result column="status" property="status"/>
        <result column="description" property="description"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="create_time" property="createTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

</mapper>
